<footer>
    <div class="footer footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ asset('assets/images/maison-logo.svg') }}" class="footer__logo" alt="maison-logo">
                </div>
            </div>
        </div>
    </div>
</footer>
