{% extends pagelayout %}

{% block page_head %}
    {% set title = 'Register user'|trans %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% import '@ezdesign/user/registration_content_form.html.twig' as registrationForm %}

    <section class="user-form-registration">
        <div class="row form">
            <div class="col-md-4 offset-md-4">
                <h1>{{ 'Member Registration'|trans }}</h1>
                <div class="legend">* {{ 'All fields are required'|trans }}</div>

                {{ registrationForm.display_form(form) }}

            </div>
        </div>
    </section>
{% endblock %}
