{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="page">
    <div class="banner banner--full-width">
        <div class="banner__image">
            <figure class="ezimage-field">
                <img src="{{ asset('assets/images/inspiration-banner.jpg') }}">
            </figure>
        </div>
        <div class="banner__title container text-center">
            <h1 class="banner__heading">
                <span>Home Design Ideas & Tips</span>
            </h1>
        </div>
    </div>
    <div class="container">
        {% include '@ezdesign/parts/inspirations-menu.html.twig' %}
        <div class="row">
            {% for i in 1..3 %}
                <div class="col-md-6">
                    {% include '@ezdesign/block_item/card/default.html.twig' %}
                </div>

                <div class="col-md-6">
                    {% include '@ezdesign/block_item/card/default.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}
