<div class="row">
    {% if tastes.searchHits|length > 0 %}
        {% for taste in tastes.searchHits %}
            <div class="col-md-4">
                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: taste.valueObject.contentInfo.mainLocationId,
                    viewType: 'card'
                })) }}
            </div>
        {% endfor %}
    {% endif %}
</div>
