<div class="embed-container" {% if align is defined %} style="text-align: {{ align }};"{% endif %}>
    <iframe
        type="text/html"
        src="//www.youtube.com/embed/{{ app_youtube_extract_id(params.video_url) }}?autoplay={{ params.autoplay == 'true' ? 1 : 0 }}"
        frameborder="0">
    </iframe>
</div>
