.banner {
    position: relative;
    z-index: 1;

    &__image {
        opacity: 0.3;
    }
    &__title {
        position: absolute;
        top: 25%;
        left: 50%;
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        transform: translateX(-50%);
        color: $grey-light;
    }
    &--full-width {
        img {
            width: 100%;
            height: 306px;
            object-fit: cover;
        }
    }
}
