$carousel: '.carousel';

#{($carousel)}__menu-item {
    max-width: 128px;
    height: 128px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    margin: 0 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    #{($carousel)}--menu {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
}

#{($carousel)}--menu {
    #{($carousel)}-inner {
        padding-left: 55px;
    }
    #{($carousel)}-item {
        &.active,
        &-next,
        &-prev {
            display: flex;
        }
    }
    #{($carousel)}-control {
        &-next,
        &-prev {
            border: 1px solid #e9e9e9;
            border-radius: 8px;
            width: 48px;
            background-color: $white;
            opacity: 1;
        }
    }
}

/* medium - display 4  */
@media (min-width: 768px) {
    #{($carousel)}--menu {
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }
}

/* large - display 6 */
@media (min-width: 992px) {
    #{($carousel)}--menu {
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
            //transform: translateX(16.666%);
            transform: translateX(15.580%);
            overflow: hidden;
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-15.588%);
            //transform: translateX(-16.666%);
        }
    }
}

#{($carousel)}--menu {
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{
        transform: translateX(0);
    }
}
