.form--search {
    max-width: 395px;

    input[type="search"] {
        font-size: 14px;
        line-height: 20px;
        color: $grey-light;
        border: 1px solid #c9c9c9;
        height: 40px;
    }
    .fa-search {
        position: absolute;
        right: 26px;
        top: 10px;
        z-index: 5;
        color: #c9c9c9;

        &::before {
            font-size: 20px;
        }
    }
}
