.header {
    background-color: $white;
}

.navbar {
    &__top {
        .nav-link {
            color: $grey-light;
        }
    }
    .nav-signin {
        font-size: 16px;
        line-height: 26px;
        color: $grey-light;
    }

    .main-menu {
        .nav-item {
            &.active {
                .nav-link {
                    color: $blue-light;
                }
            }
        }

        .nav-link {
            font-size: 17px;
            line-height: 28px;
            color: $grey-dark;
            font-weight: 500;

            &:hover {
                color: $blue-light;
            }
        }
    }
}
