.home .places {
    padding: 50px 0 0 0;
}

.places h1.home-section,
.tastes h1.home-section {
    color: #3c3937;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 100px;
}

.places p.text-center,
.tastes p.text-center {
    color: #706b68;
    font-size: 21px;
    margin-bottom: 10px;
}

.places .link,
.tastes .link {
    margin-top: 50px;
    margin-bottom: 50px;
}

.home.content-type-folder .banner-image {
    max-height: 500px;

    .ezimage-field {
        margin-bottom: 0;
    }
}

.home.content-type-folder .thumbnail img {
    opacity: 0.5;
    max-height: 500px;
}

.home .card.content-type-place figure.ezimage-field img {
    max-height: 450px;
    border-radius: 10px;
}

.home .card.content-type-place h2.card-title {
    font-family: $font-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    background: rgba(60, 51, 48, 0.6);
}

.home .card.content-type-place .card-img-overlay:hover h2.card-title {
    background: rgba(0, 115, 174, 0.5);
}

@media (max-width: 767px) {
    .home .card.content-type-place figure.ezimage-field img {
        height: 233px;
    }
}

@media (min-width: 768px) {
    .home .card.content-type-place figure.ezimage-field img {
        height: 450px;
    }
}
