.img-fluid-container {
    img {
        max-width: 100%;
        object-fit: cover;
        height: auto;
    }
}

.icon {
    max-width: 15px;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
}
