.content-type-place-list {
    background: #fff;
}

.content-type-place-list {
    .ezimage-field {
        height: 233px;
    }
}

.content-type-place-list .thumbnail {
    position: relative;
}

.content-type-place-list .thumbnail figure {
    margin-bottom: 0;
}

.content-type-place-list .thumbnail img {
    opacity: 0.3;
    max-height: 450px;
    object-fit: cover;
}

.content-type-place-list .banner-image {
    background-color: #000;
    max-height: 450px;
}

.content-type-place-list .title {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.content-type-place-list h1.field-title {
    font-family: $font-serif;
    font-weight: bold;
    color: #fff;
    font-size: 75px;
}

.content-type-place-list #map {
    height: 500px;
}

.content-type-place-list h2 {
    font-family: $font-serif;
    color: #3c3937;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.content-type-place-list h3 {
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 12px;
}

.content-type-place-list p {
    font-size: 21px;
    line-height: 30px;
}

.content-type-place-list .more {
    background: #f2f2f2;
    padding: 100px 0;
}

.content-type-place-list .more h2 {
    margin-top: 0;
    margin-bottom: 100px;
}

.content-type-place-list .more .col-md-4 {
    margin-bottom: 20px;
}

.content-type-place-list .map-container {
    min-height: 646px;
}
