{% extends ezpublish.configResolver.parameter('pagelayout') %}

{% block content %}
    <div class="top-separator"></div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="space-bottom space-top">
                            <h1 class="header-text-one text-left"><strong>{{ 'Your message has been sent, thank you'|trans }}</strong></h1>
                            <div class="text-about">{{ 'We will reply to you as soon as possible.'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
