<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ asset('assets/images/meadow.png') }}" class="img-responsive meadow-logo-top" /></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>

                {% if menuItems is defined and menuItems is not empty %}
                    {% for item in menuItems %}
                        <li class="page-scroll"><a href="{{ path(item) }}">{{ ez_content_name(item.contentInfo) }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
