<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 space-top-half-bit space-bottom-less">
                    <a href="/"><img src="{{ asset('assets/images/meadow_white.png') }}" class="center-block img-responsive meadow-logo-bottom" /></a>
                </div>
                <div class="col-md-offset-1 col-md-3 space-top-half space-bottom-less">
                    <h3 class="white">Meadow US Inc.</h3>
                    <p class="white small">
                        35 Meadow Street, suite 103<br>
                        Brooklyn, NY 11206<br>
                        USA<br>
                        <abbr class="white small" title="Phone">P:</abbr> +1 (929) 295-0699
                        <a href="mailto:info.americas@ez.no">info.americas@ez.no</a>
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-1 space-top-half-bit space-bottom-less">
                    <a class="btn btn-primary btn-lg small" href="{{ path('ez_urlalias', {locationId: contactLocationId}) }}">{{ 'Get in touch!'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-5 space-top-half-more space-bottom-less">
                    <ul>
                        <li class="white small-extra">Copyright &copy; 2015 eZ Systems AS (except where otherwise noted). All rights reserved. <a href="//ez.no/privacy-policy">Privacy Policy.</a> Powered by the <a href="//ez.no/ezpublish"> eZ Platform</a></li>
                    </ul>
                </div>
                <div class="col-xs-offset-1 col-xs-4 col-xs-offset-1 social space-top-half space-bottom-less">
                    <p class="text-center">
                        <a href="//www.youtube.com/user/ezpublish/" target="_blank">
                            <i class="fa fa-youtube fa"> </i>
                        </a>
                        <a href="//google.com/+ezsystems" target="_blank">
                            <i class="fa fa-google-plus fa"> </i>
                        </a>
                        <a href="//www.linkedin.com/groups?gid=2759&amp;trk=myg_ugrp_ovr" target="_blank">
                            <i class="fa fa-linkedin fa"> </i>
                        </a>
                        <a href="//www.facebook.com/eZPublishEnterprise" target="_blank">
                            <i class="fa fa-facebook fa"> </i>
                        </a>
                        <a href="//twitter.com/#!/ezsystems" target="_blank">
                            <i class="fa fa-twitter fa"> </i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
