<nav class="navbar navbar--carousel-nav box-shadow">
    <div class="row mx-auto my-auto w-100">
        <div id="menuCarousel" class="carousel carousel--menu slide w-100" data-ride="carousel" data-interval="false">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        All ideas
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Interior
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Living Room
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Kitchen
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Home office
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Bathroom
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Outdoor
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">
                        Business
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#menuCarousel" role="button" data-slide="prev">
                <i class="material-icons-outlined">arrow_back_ios</i>
            </a>
            <a class="carousel-control-next" href="#menuCarousel" role="button" data-slide="next">
                <i class="material-icons-outlined">arrow_forward_ios</i>
            </a>
        </div>
    </div>
</nav>
