<nav class="navbar navbar--carousel-nav box-shadow">
    <div class="row mx-auto my-auto w-100">
        <div id="menuCarousel" class="carousel carousel--menu slide w-100" data-ride="carousel" data-interval="false">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-3 carousel__menu-item">

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#menuCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#menuCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</nav>
