<h3 class="header-text-one"><a href="{% if location.isDraft %}#{% else %}{{ path(location) }}{% endif %}">{{ ez_content_name(content) }}</a></h3>
<div class="small">
    {{ ez_render_field(content, 'intro') }}
</div>
