<footer>
    <div class="footer footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ asset('assets/images/maison-logo.png') }}" class="footer__logo">
                </div>
                <div class="col-md-9">
                    <nav class="navbar navbar--footer-nav navbar-expand-lg px-0">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">COMPANY</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">BUSINESS SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">GET HELP</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">CONNECT WITH US</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
