<header class="header">
    <nav class="navbar navbar-expand-lg header__top">
        <div class="container">
            <ul class="navbar-nav mr-md-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle pl-md-0" id="languageSwitcherDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        EN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageSwitcherDropdown">
                        <a class="dropdown-item" href="#">FR</a>
                        <a class="dropdown-item" href="#">DE</a>
                        <a class="dropdown-item" href="#">NO</a>
                    </div>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a href="#" class="nav-link">Customer Services</a>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a href="#" class="nav-link">Join our email list</a>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a href="#" class="nav-link">Blog</a>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a href="/stores" class="nav-link">
                        <i class="material-icons-outlined item-store-locators-pin">room</i>
                        {{ 'Store Locators'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav navbar__user-quick-nav flex-row">
                <li class="nav-item">
                    <a href="#" class="nav-link nav-signin">
                        <i class="user-icon material-icons-outlined">account_circle</i>
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-cart">
                        <i class="material-icons-outlined">local_grocery_store</i>
                        <span class="badge">93</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg header__bottom px-0">
        <div class="container">
            <a href="{{ path(ezplatform.rootLocation()) }}" class="navbar-brand">
                <img src="{{ asset('assets/images/maison-logo.svg') }}" alt="maison-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenuNavbar" aria-controls="mainMenuNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenuNavbar">
                <form class="form form--search ml-auto form-inline w-100">
                    <div class="input-group w-100">
                        <i class="material-icons icon-search">search</i>
                        <input type="search" class="form-control rounded-pill" placeholder="Search...">
                    </div>
                </form>
                <div class="navbar--main-menu ml-auto" id="mainMenuNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="/inspirations" class="nav-link">Inspirations</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Find professionals</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
