<div class="card">
    <a href="#" class="card__link">
        <div class="card__image">
            <figure class="ezimage-field">
                <img src="{{ asset('assets/images/inspiration-card.png') }}">
            </figure>
        </div>
        <div class="card__text box-shadow">
            <div class="card__title">
                A cozy kid’s bedroom within a bedroom
            </div>
            <div class="card__desc">
                When space is limited, sharing a room can be a smart option. Interior designer Hakan Ertan tooks on the challenge to create a toddler’s room.
            </div>
        </div>
    </a>
</div>
