<div class="col-md-4 center-block">
    {{ ez_render_field(content, 'image', {
        parameters: {
            alias: 'gallery_image_line_home',
            class: 'img-responsive img-rounded'
        }
    }) }}
</div>
