.content-type-blog {
    background: #fff;
}

.content-type-blog .thumbnail {
    position: relative;
}

.content-type-blog .thumbnail img {
    opacity: 0.3;
    max-height: 450px;
    object-fit: cover;
}

.content-type-blog .banner-image {
    background-color: #000;
    max-height: 450px;
}

.content-type-blog .banner-image,
.content-type-blog .banner-no-image {
    margin-bottom: 100px;
}

.content-type-blog .banner-no-image {
    background: linear-gradient(270deg, #f35073 0%, #f58220 100%);
    height: 300px;
}

.content-type-blog .title {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
}

.content-type-blog h1.field-name {
    font-family: $font-serif;
    font-weight: bold;
    color: #fff;
    font-size: 75px;
}

@media (max-width: 575.98px) {
    .content-type-blog h1.field-name {
        font-size: 25px;
    }

    .content-type-blog .title {
        top: 25%;
    }

    .content-type-blog .banner-image,
    .content-type-blog .banner-no-image {
        margin-bottom: 0;
    }
}
