$white: #fff;
$main-background-color: #eaeaea;
$secondary-background-color: #f3f3f3;
$blue-light: #0089cf;
$blue-dark: #0073ae;
$orange-light: #f58220;
$orange-dark: #f15a22;
$orange-dark-hover: #c9400d;
$grey-lighter: #d0d0d0;
$grey-light: #63605d;
$grey-dark: #3c3937;
