@import 'web/bundles/ezplatformadminuiassets/vendors/bootstrap/scss/bootstrap.scss';
@import 'web/assets/scss/colors';
@import 'web/assets/scss/base';
@import 'web/assets/scss/header';
@import 'web/assets/scss/footer';
@import 'web/assets/scss/home';
@import 'web/assets/scss/_forms';
@import 'web/assets/scss/article';
@import 'web/assets/scss/folder';
@import 'web/assets/scss/place';
@import 'web/assets/scss/place.list';
@import 'web/assets/scss/product';
@import 'web/assets/scss/product.list';
@import 'web/assets/scss/blog';
@import 'web/assets/scss/blog.post';
@import 'web/assets/scss/subscribe';
@import 'web/assets/scss/tags';
@import 'web/assets/scss/user.forms';
@import 'web/assets/scss/custom.tags';
